<div class="container-fluid">
    <div>
        <img src="~/images/logo-transparent.png" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height:200px;" />
    </div>
    <br />
    <h2 class="text-center display-4">Hi There!</h2>
    <div class="row" style="justify-content:center; font-size:medium">
        <div class="text-center">Here is a simple application for users to clock in and out of their shift </a>. </div>
        <br />
    </div>
    <div class="container z-depth-1" style=" margin-top: 30px;">
        <section class="p-md-3 mx-md-5">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-12">
                    <h2 class="mb-3">Requirements</h2>
                    <ul>
                        <li>A user should be able to click a “Clock In” button to begin tracking time. </li>
                        <li>A user should be able to click a “Clock Out” button to stop tracking time.</li>
                        <li>A user should see a list of all their time entries.</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>